
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500&family=DM+Serif+Display&family=Italiana&family=Montserrat:wght@400;500;600&family=Prata&family=Tenor+Sans&display=swap');
.wedding-date {
  width: 100%;
  padding: 80px 20px;
  text-align: center;
  background: #faf9f0;
  height: 100vh;
}

/* .date-eyebrow {
  margin-bottom: 30px;

  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 500;

  color: #5e7690;
} */

.date-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.date-card {
  position: relative;

  width: 280px;
  height: 340px;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.date-card img {
  position: relative;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  filter: brightness(0.75);

  transition: transform 0.5s ease;
}

.date-card:hover img {
  transform: scale(1.05);
}

.date-number {
  position: absolute;
  top: 1%;
  z-index: 1;

  color: white;

  font-size: 100px;
  font-weight: 800;
  line-height: 1;

  letter-spacing: -3px;

  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  /* font-family: "Cormorant Garamond", serif; */
   /* font-family: "Montserrat", sans-serif; */
   /* font-family: "Playfair Display", serif; */
    font-family: "Bodoni Moda", serif;
     /* font-family: "DM Serif Display", serif; */
     /* font-family: "Prata", serif; */
}

.date-card span {
  position: absolute;
  z-index: 2;

  bottom: 18px;

  color: white;

  font-size: 10px;
  letter-spacing: 3px;
}